@model ListaDeTareasRefresquera.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusTarea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTarea">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
